*{
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
}

.imagem{
    background-image: url("../imagens/fundo.jpg");
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Barra de navegação*/

.navegacao{
    position: fixed;
    background-color: #00000091;
    width: 100%;
    height: 270px;
}

.navegacao h3{
    /*text-align: center;*/
    color: #6495ED;
    font-size: 3vw;
    
}

.navegacao img{
    float: left;
    width: 10vh;
}

/* Toda a configuração de Login*/

.Login{
    text-align: center;
    margin-top: 13vw;
    margin-right: 12vw;
    background-color: #87CEEB;
    padding: 3vw;
    width: 17vw;
    float: right;
    border:solid;
    left: 80%;
    border-color: #4B0082;
}

.Login input{
    margin-top: 2vw;
    width: 16vw;
    height: 2.4vw;
    border-radius: 1vw; 
    font-size: 2vw;
    border-color: black;
    border-width: 5px; 
}

.Login button{
    margin-top: 2vw;
    width: 16vw;
    height: 2.4vw;
    border-radius: 1vw;
    font-size: 2vw; 
    border-color: black;
    border-width: 5px;
}

.Login h2{
    color:black;
    font-size: 3vw;
}

/* Toda a Configuração de Cadastro*/

.Cadastro{
    margin-top: 8vw;
    padding: 3vw;
    width: 17vw;
    height: 63vh;
    background-color: #87CEEB;
    border:solid;
    border-color: #4B0082;
    margin-left: 12vw;
    float: left;
}

.Cadastro h2{
    color:black;
    font-size: 3vw;
}

.Cadastro input{
    margin-top: 1.5vw;
    width: 16vw;
    height: 2.4vw;
    border-radius: 1vw; 
    font-size: 2vw;
    border-color: black;
    border-width: 5px;
}

.Cadastro button{
    margin-top: 2vw;
    width: 16vw;
    height: 2.4vw;
    border-radius: 1vw;
    font-size: 2vw;
    border-color: black;
    border-width: 5px; 
}